@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}


@media (min-width: 992px) {
    .container {
        width: 700px;
    }
    
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

.btn-td {
    color: #4cae4c;
    /* background-color: #5cb85c; */
    border-color: #4cae4c;
    margin-bottom: 10px;
    width:100%;
}
